.red.open {
  background-color: #d9534f;
  color: white; }

.red.marked, .red.locked, .red.failed {
  background-color: #761c19;
  color: white; }

.red.skipped, .red.disabled {
  background-color: #f4cecd;
  color: white;
  opacity: 1; }

.red.points {
  background-color: white;
  border: 1vmin solid #d9534f;
  color: #d9534f; }

.yellow.open {
  background-color: #f0ad4e;
  color: white; }

.yellow.marked, .yellow.locked, .yellow.failed {
  background-color: #985f0d;
  color: white; }

.yellow.skipped, .yellow.disabled {
  background-color: #fceedb;
  color: white;
  opacity: 1; }

.yellow.points {
  background-color: white;
  border: 1vmin solid #f0ad4e;
  color: #f0ad4e; }

.green.open {
  background-color: #5cb85c;
  color: white; }

.green.marked, .green.locked, .green.failed {
  background-color: #255625;
  color: white; }

.green.skipped, .green.disabled {
  background-color: #c7e6c7;
  color: white;
  opacity: 1; }

.green.points {
  background-color: white;
  border: 1vmin solid #5cb85c;
  color: #5cb85c; }

.blue.open {
  background-color: #337ab7;
  color: white; }

.blue.marked, .blue.locked, .blue.failed {
  background-color: #122a3f;
  color: white; }

.blue.skipped, .blue.disabled {
  background-color: #9fc4e4;
  color: white;
  opacity: 1; }

.blue.points {
  background-color: white;
  border: 1vmin solid #337ab7;
  color: #337ab7; }

.fail.open {
  background-color: #aeaeae;
  color: white; }

.fail.marked, .fail.locked, .fail.failed {
  background-color: #626262;
  color: white; }

.fail.skipped, .fail.disabled {
  background-color: #fbfbfb;
  color: white;
  opacity: 1; }

.fail.points {
  background-color: white;
  border: 1vmin solid #aeaeae;
  color: #aeaeae; }

.total.open {
  background-color: #000000;
  color: white; }

.total.marked, .total.locked, .total.failed {
  background-color: black;
  color: white; }

.total.skipped, .total.disabled {
  background-color: #4d4d4d;
  color: white;
  opacity: 1; }

.total.points {
  background-color: white;
  border: 1vmin solid #000000;
  color: #000000; }

.red-yellow.open.markedLinkedRowIndex0 {
  background-image: -webkit-linear-gradient(top, #d9534f, #d9534f 50%, #fceedb 50%);
  background-image: linear-gradient(to bottom, #d9534f, #d9534f 50%, #fceedb 50%);
  color: white; }

.red-yellow.open.markedLinkedRowIndex1 {
  background-image: -webkit-linear-gradient(top, #f4cecd, #f4cecd 50%, #f0ad4e 50%);
  background-image: linear-gradient(to bottom, #f4cecd, #f4cecd 50%, #f0ad4e 50%);
  color: white; }

.red-yellow.open.markedLinkedRowIndex0-markedLinkedRowIndex1 {
  background-image: -webkit-linear-gradient(top, #d9534f, #d9534f 50%, #f0ad4e 50%);
  background-image: linear-gradient(to bottom, #d9534f, #d9534f 50%, #f0ad4e 50%);
  color: white; }

.red-yellow.marked {
  background-image: -webkit-linear-gradient(top, #761c19, #761c19 50%, #985f0d 50%);
  background-image: linear-gradient(to bottom, #761c19, #761c19 50%, #985f0d 50%);
  color: white; }

.red-yellow.skipped, .red-yellow.disabled {
  background-image: -webkit-linear-gradient(top, #f4cecd, #f4cecd 50%, #fceedb 50%);
  background-image: linear-gradient(to bottom, #f4cecd, #f4cecd 50%, #fceedb 50%);
  color: white;
  opacity: 1; }

.green-blue.open.markedLinkedRowIndex0 {
  background-image: -webkit-linear-gradient(top, #5cb85c, #5cb85c 50%, #9fc4e4 50%);
  background-image: linear-gradient(to bottom, #5cb85c, #5cb85c 50%, #9fc4e4 50%);
  color: white; }

.green-blue.open.markedLinkedRowIndex1 {
  background-image: -webkit-linear-gradient(top, #c7e6c7, #c7e6c7 50%, #337ab7 50%);
  background-image: linear-gradient(to bottom, #c7e6c7, #c7e6c7 50%, #337ab7 50%);
  color: white; }

.green-blue.open.markedLinkedRowIndex0-markedLinkedRowIndex1 {
  background-image: -webkit-linear-gradient(top, #5cb85c, #5cb85c 50%, #337ab7 50%);
  background-image: linear-gradient(to bottom, #5cb85c, #5cb85c 50%, #337ab7 50%);
  color: white; }

.green-blue.marked {
  background-image: -webkit-linear-gradient(top, #255625, #255625 50%, #122a3f 50%);
  background-image: linear-gradient(to bottom, #255625, #255625 50%, #122a3f 50%);
  color: white; }

.green-blue.skipped, .green-blue.disabled {
  background-image: -webkit-linear-gradient(top, #c7e6c7, #c7e6c7 50%, #9fc4e4 50%);
  background-image: linear-gradient(to bottom, #c7e6c7, #c7e6c7 50%, #9fc4e4 50%);
  color: white;
  opacity: 1; }

.modal-body {
  max-height: calc(100vh - 78px);
  overflow-y: auto; }

@media (min-width: 768px) {
  .modal-body {
    max-height: calc(100vh - 118px); } }

.btn {
  margin: 1vmin 0.3vmin; }

.rules {
  margin-right: 3vmin; }

.revert, .refresh {
  margin-left: 3vmin; }

html, body, .container-fluid {
  height: 100%; }
  html :not(.bigPoints) .row, body :not(.bigPoints) .row, .container-fluid :not(.bigPoints) .row {
    height: calc(100% / 7); }
  html .bigPoints .row, body .bigPoints .row, .container-fluid .bigPoints .row {
    height: calc(100% / 9); }

@media all and (orientation: portrait) {
  .container-fluid {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 100%; } }

@media all and (orientation: portrait) {
  .container-fluid {
    width: 100vh;
    height: 100vw; }
    .container-fluid :not(.bigPoints) .row {
      height: calc(100vw / 7); }
    .container-fluid .bigPoints .row {
      height: calc(100vw / 9); } }

.container-fluid .row {
  display: flex;
  display: -webkit-flex; }

.btn {
  flex: 1;
  -webkit-flex: 1;
  font-size: 4vmin;
  font-weight: bold;
  border-radius: 3vmin; }

.red-yellow, .green-blue {
  border-radius: 50%; }

.revert, .rules, .theme, .refresh {
  font-size: 2.0vmin; }

.badge {
  font-size: 1.5vmin;
  font-weight: bold; }

.finished .btn:not(.revert):not(.rules):not(.theme):not(.refresh), .disabled, .marked, .skipped, .locked, .failed, .points, .active, .empty {
  pointer-events: none; }
