.red.open {
  background-color: #d9534f;
  color: white; }
  .red.open:hover {
    background-color: #c9302c;
    color: white; }

.red.marked, .red.locked, .red.failed {
  background-color: #761c19;
  color: white; }

.red.skipped {
  background-color: #eba5a3;
  color: white; }

.red.points {
  background-color: white;
  border: 1vmin solid #d9534f;
  color: #d9534f; }

.yellow.open {
  background-color: #f0ad4e;
  color: white; }
  .yellow.open:hover {
    background-color: #ec971f;
    color: white; }

.yellow.marked, .yellow.locked, .yellow.failed {
  background-color: #985f0d;
  color: white; }

.yellow.skipped {
  background-color: #f8d9ac;
  color: white; }

.yellow.points {
  background-color: white;
  border: 1vmin solid #f0ad4e;
  color: #f0ad4e; }

.green.open {
  background-color: #5cb85c;
  color: white; }
  .green.open:hover {
    background-color: #449d44;
    color: white; }

.green.marked, .green.locked, .green.failed {
  background-color: #255625;
  color: white; }

.green.skipped {
  background-color: #a3d7a3;
  color: white; }

.green.points {
  background-color: white;
  border: 1vmin solid #5cb85c;
  color: #5cb85c; }

.blue.open {
  background-color: #337ab7;
  color: white; }
  .blue.open:hover {
    background-color: #285f8f;
    color: white; }

.blue.marked, .blue.locked, .blue.failed {
  background-color: #122a3f;
  color: white; }

.blue.skipped {
  background-color: #77acd9;
  color: white; }

.blue.points {
  background-color: white;
  border: 1vmin solid #337ab7;
  color: #337ab7; }

.fail.open {
  background-color: #aeaeae;
  color: white; }
  .fail.open:hover {
    background-color: #959595;
    color: white; }

.fail.marked, .fail.locked, .fail.failed {
  background-color: #626262;
  color: white; }

.fail.skipped {
  background-color: #e1e1e1;
  color: white; }

.fail.points {
  background-color: white;
  border: 1vmin solid #aeaeae;
  color: #aeaeae; }

.total.open {
  background-color: #000000;
  color: white; }
  .total.open:hover {
    background-color: black;
    color: white; }

.total.marked, .total.locked, .total.failed {
  background-color: black;
  color: white; }

.total.skipped {
  background-color: #333333;
  color: white; }

.total.points {
  background-color: white;
  border: 1vmin solid #000000;
  color: #000000; }

.btn {
  margin: 1vmin 0.3vmin; }

.revert {
  margin-right: 6vmin; }

.refresh {
  margin-left: 6vmin; }

html, body, .container-fluid {
  height: 100%; }

.row {
  height: calc(100% / 7); }

@media all and (orientation: portrait) {
  .container-fluid {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 100%; } }

@media all and (orientation: portrait) {
  .container-fluid {
    width: 100vh;
    height: 100vw; }
  .row {
    height: calc(100vw / 7); } }

.row {
  display: flex;
  display: -webkit-flex; }

.btn {
  flex: 1;
  -webkit-flex: 1;
  font-size: 5.5vmin;
  font-weight: bold;
  border-radius: 3vmin; }

.revert, .theme, .refresh {
  font-size: 3.5vmin; }

.badge {
  font-size: 2.0vmin;
  font-weight: bold; }

.finished .btn:not(.revert):not(.theme):not(.refresh), .disabled, .marked, .skipped, .locked, .failed, .points, .active {
  pointer-events: none; }
