.red.open {
  background-color: #d9534f;
  color: white; }
  .red.open:hover {
    background-color: #c9302c;
    color: white; }

.red.marked, .red.locked, .red.failed {
  background-color: #761c19;
  color: white; }

.red.skipped {
  background-color: #eba5a3;
  color: white; }

.red.points {
  background-color: white;
  border: 1vmin solid #d9534f;
  color: #d9534f; }

.yellow.open {
  background-color: #f0ad4e;
  color: white; }
  .yellow.open:hover {
    background-color: #ec971f;
    color: white; }

.yellow.marked, .yellow.locked, .yellow.failed {
  background-color: #985f0d;
  color: white; }

.yellow.skipped {
  background-color: #f8d9ac;
  color: white; }

.yellow.points {
  background-color: white;
  border: 1vmin solid #f0ad4e;
  color: #f0ad4e; }

.green.open {
  background-color: #5cb85c;
  color: white; }
  .green.open:hover {
    background-color: #449d44;
    color: white; }

.green.marked, .green.locked, .green.failed {
  background-color: #255625;
  color: white; }

.green.skipped {
  background-color: #a3d7a3;
  color: white; }

.green.points {
  background-color: white;
  border: 1vmin solid #5cb85c;
  color: #5cb85c; }

.blue.open {
  background-color: #337ab7;
  color: white; }
  .blue.open:hover {
    background-color: #285f8f;
    color: white; }

.blue.marked, .blue.locked, .blue.failed {
  background-color: #122a3f;
  color: white; }

.blue.skipped {
  background-color: #77acd9;
  color: white; }

.blue.points {
  background-color: white;
  border: 1vmin solid #337ab7;
  color: #337ab7; }

.fail.open {
  background-color: #aeaeae;
  color: white; }
  .fail.open:hover {
    background-color: #959595;
    color: white; }

.fail.marked, .fail.locked, .fail.failed {
  background-color: #626262;
  color: white; }

.fail.skipped {
  background-color: #e1e1e1;
  color: white; }

.fail.points {
  background-color: white;
  border: 1vmin solid #aeaeae;
  color: #aeaeae; }

.total.open {
  background-color: #000000;
  color: white; }
  .total.open:hover {
    background-color: black;
    color: white; }

.total.marked, .total.locked, .total.failed {
  background-color: black;
  color: white; }

.total.skipped {
  background-color: #333333;
  color: white; }

.total.points {
  background-color: white;
  border: 1vmin solid #000000;
  color: #000000; }

.red-yellow.open {
  background-image: -webkit-linear-gradient(top, #d9534f, #d9534f 50%, #f0ad4e 50%);
  background-image: linear-gradient(to bottom, #d9534f, #d9534f 50%, #f0ad4e 50%);
  color: white; }
  .red-yellow.open:hover {
    background-image: -webkit-linear-gradient(top, #c9302c, #c9302c 50%, #ec971f 50%);
    background-image: linear-gradient(to bottom, #c9302c, #c9302c 50%, #ec971f 50%);
    color: white; }

.red-yellow.marked {
  background-image: -webkit-linear-gradient(top, #761c19, #761c19 50%, #985f0d 50%);
  background-image: linear-gradient(to bottom, #761c19, #761c19 50%, #985f0d 50%);
  color: white; }

.red-yellow.skipped {
  background-image: -webkit-linear-gradient(top, #eba5a3, #eba5a3 50%, #f8d9ac 50%);
  background-image: linear-gradient(to bottom, #eba5a3, #eba5a3 50%, #f8d9ac 50%);
  color: white; }

.green-blue.open {
  background-image: -webkit-linear-gradient(top, #5cb85c, #5cb85c 50%, #337ab7 50%);
  background-image: linear-gradient(to bottom, #5cb85c, #5cb85c 50%, #337ab7 50%);
  color: white; }
  .green-blue.open:hover {
    background-image: -webkit-linear-gradient(top, #449d44, #449d44 50%, #285f8f 50%);
    background-image: linear-gradient(to bottom, #449d44, #449d44 50%, #285f8f 50%);
    color: white; }

.green-blue.marked {
  background-image: -webkit-linear-gradient(top, #255625, #255625 50%, #122a3f 50%);
  background-image: linear-gradient(to bottom, #255625, #255625 50%, #122a3f 50%);
  color: white; }

.green-blue.skipped {
  background-image: -webkit-linear-gradient(top, #a3d7a3, #a3d7a3 50%, #77acd9 50%);
  background-image: linear-gradient(to bottom, #a3d7a3, #a3d7a3 50%, #77acd9 50%);
  color: white; }

.modal-body {
  max-height: calc(100vh - 78px);
  overflow-y: auto; }

@media (min-width: 768px) {
  .modal-body {
    max-height: calc(100vh - 118px); } }

.btn {
  margin: 1vmin 0.3vmin; }

.rules {
  margin-right: 3vmin; }

.revert, .refresh {
  margin-left: 3vmin; }

html, body, .container-fluid {
  height: 100%; }

:not(.bigPoints) .row {
  height: calc(100% / 7); }

.bigPoints .row {
  height: calc(100% / 9); }

@media all and (orientation: portrait) {
  .container-fluid {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: top left;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: top left;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 100%; } }

@media all and (orientation: portrait) {
  .container-fluid {
    width: 100vh;
    height: 100vw; }
  :not(.bigPoints) .row {
    height: calc(100vw / 7); }
  .bigPoints .row {
    height: calc(100vw / 9); } }

.row {
  display: flex;
  display: -webkit-flex; }

.btn {
  flex: 1;
  -webkit-flex: 1;
  font-size: 4vmin;
  font-weight: bold;
  border-radius: 3vmin; }

.red-yellow, .green-blue {
  border-radius: 50%; }

.revert, .rules, .theme, .refresh {
  font-size: 2.2vmin; }

.badge {
  font-size: 1.5vmin;
  font-weight: bold; }

.finished .btn:not(.revert):not(.rules):not(.theme):not(.refresh), .disabled, .marked, .skipped, .locked, .failed, .points, .active, .empty {
  pointer-events: none; }
